<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Escape the UnderWorld - Puzzle Intro</title>
</head>
<body>
  <div class="content-box">
    <h1>The Escape of the Underworld</h1>
    <p>
      "Oh no," Percy said, as he rummaged through his pockets.
      <br>
      "What? What happened?" asked Grover, gulping while looking around at the cold dead people around him.
      <br>
      "I must've forgotten the drachmas before entering the Underworld."
      <br>
      "Percy!" Annabeth exclaimed, "How could you forget? We need the drachmas to bribe Charon to let us through."
      <br>
      "I heard that," a deep, dark voice uttered nearby.
      <br>
      "We're dead meat," cried Grover.
      <br>
      Charon appeared before them and gave them a spooky smile, which made Grover hide behind Percy and Annabeth.
      "Drachmas… So tempting… I'll tell you what, I'm feeling generous today."
      <br>
      Grover peeked behind Percy and Annabeth and muttered, "You- You are?"
      <br>
      "Yes, Goat. I will let you three through. But only if you give me the drachmas in this box." A box appeared before them and Charon handed it to Percy.
      <br>
      "Wait, that's it?" Percy asked, thinking that this was a piece of cake compared to all the other monsters they slayed beforehand.
      <br>
      "Percy," Annabeth said, "This box is magical. It has a riddle that we have to sol-"
      Annabeth suddenly made muffled sounds. It was like her mouth was glued shut.
      <br>
      "What happened to her?" Percy exclaimed.
      <br>
      "Hades." Charon smiled mischievously, "He must've sensed your presence and wants to make your quest more difficult for you as you have trespassed in His realm." He looked at Annabeth and said, "You're a daughter of Athena. It would be too easy if you were able to solve this riddle. You will be able to talk once they solve this riddle. Let me know if you get the drachmas or else… you're in for a fun surprise."
      Charon disappeared, leaving Percy, Grover, and a quiet Annabeth surrounding a tiny box.
      <br>
      "Something tells me that the surprise is no fun for us," Grover cried.
    </p>
    <form action="/firstPuzzle" method="get">
      <button type="submit">Click here to read and solve the riddle</button>
    </form>
  </div>
</body>
</html>
