<!-- leftPathSuccess.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Escape the UnderWorld - Left Path Success</title>
</head>
<body>
  <div class="content-box">
    <h1>The Escape of the Underworld</h1>
    <p>
      “Yes, it worked!” exclaimed Annabeth. “We still need to go through the other path. I have a feeling it’s exactly what we need to escape Cerberus.”
    </p>
    <p>
      Percy and Grover nodded and followed Annabeth to the other path.
    </p>
    <form action="/rightPath" method="get">
      <button type="submit">Click here to take the Right Path</button>
    </form>
  </div>
</body>
</html>
