<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Trapped in the UnderWorld</title>
</head>
<body>
  <div class="content-box">
    <h1>The Escape of the Underworld</h1>
    <p>
      Oh no. Percy Jackson, Annabeth Chase, and Grover Underwood are trapped in the Underworld in the middle of their quest to return Zeus's master bolt. Hades has felt their presence in his realm and is making it difficult for them to reach the bolt and return back to the surface. They need your help to navigate their way to Hades. Are you up for the challenge?
    </p>
    <form action="/firstPuzzleIntro" method="get">
      <button type="submit">Click here to start the journey</button>
    </form>
  </div>
</body>
</html>