<!-- secondPuzzleIntro.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Escape the UnderWorld - Second Puzzle Intro</title>
</head>
<body>
  <div class="content-box">
    <h1>The Escape of the Underworld</h1>
    <p>
      “YESSSS! You did it!,” Grover exclaimed, “We’re not going to die after all!”
      <br>
      “I wouldn’t be so sure about that. We still have a long way to go,” said Annabeth, although a bit relieved since she could talk once again.
      <br>
      “Well done,” muttered Charon, “I shall help you get across the river. After that, you are on your own. You might have solved this riddle easily, but let it be a warning that there are more dangerous paths ahead…”
    </p>
    <p>
      Percy, Annabeth, and Grover passed the river and headed to the entrance of the Underworld. There they saw a line with a sign that said EZ DEATH. Annabeth explained that those who are dead and don’t wish to be judged can go through that line, which leads to Asphodel Fields. But those who choose to go on another slower line called ATTENDANT ON DUTY will be judged for a chance to make it to the Fields of Elysium. Although it’s clear that they needed to get past the lines to make it to Hades, there’s one slight problem. In front of the lines stood a giant Rottweiler puppy with three heads, Cerberus. Cerberus quickly sniffed out Percy, Annabeth, and Grover, realizing they were trespassers and started chasing them.
    </p>
    <p>
      “RUNNNNNNNN,” Grover screamed, although it wasn’t necessary since Percy and Annabeth already left sprinting away from Cerberus.
    </p>
    <p>
      The three of them ran far enough to buy them some time. They encountered two paths in a tunnel that they could take.
    </p>
    <p>
      “Hmmm… I don’t know why, but I have a feeling that we need to take one of these paths to escape from Cerberus,” said Annabeth.
    </p>
    <p>
      Which path do you dare take?
    </p>
    <form action="/leftPath" method="get">
      <button type="submit">The Left Path</button>
    </form>
    <form action="/rightPath" method="get">
      <button type="submit">The Right Path</button>
    </form>
  </div>
</body>
</html>
