<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Escape the UnderWorld - Successful Escape</title>
</head>
<body>
  <div class="content-box">
    <h1>The Escape of the Underworld - Successful Escape!</h1>
    <p>
      Grover made it to the last rock where Percy and Annabeth pulled him to the top of the cliff. They gave him a big hug. Grover blushed, “Awww jeez thanks guys.” Percy looked back at Hades's palace, grabbed his backpack which suddenly became heavier, and said “I think it's time to give Hades a little visit.”
    </p>
    <p><strong>END OF THE ESCAPE</strong></p>
    <p>
      Well done! You have made it to the end! I hope you guys enjoyed playing this small virtual escape room. I tried to make the journey in the Underworld as accurate as in “The Lightning Thief” while adding some puzzles along the way. However, I had to change the journey a little bit in order to add some of the puzzles, so make sure you read the book to figure out what truly happens on Percy's quest. Hope you enjoyed!!!
    </p>
    <p>
        - Janvi Patel
    </p>
    <button onclick="window.location.href='/'">Go Back to Main Page</button>
  </div>
</body>
</html>
